
<div class="container">   
    <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="model.nome_completo" name="nome">
             </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="model.email" name="email">
             </mat-form-field>
             <mat-form-field class="example-full-width">
                <mat-label>Usuário</mat-label>
                <input matInput [(ngModel)]="model.usuario" name="usuario">
             </mat-form-field>             
             <mat-form-field class="example-full-width">
                <mat-label>Senha</mat-label>
                <input matInput [(ngModel)]="model.senha" name="senha">
             </mat-form-field>            
        </div>
        <button type="submit" class="btn btn-secondary" mat-flat-button color="primary" >Enviar</button>
    </form>
</div>
